/* Reduce space beteen legend and title to pull the form up */
#growth-plan h2 {
    margin-bottom: 0px; 
    padding-bottom: 0;
}

legend{
    color: darkgreen;
}

h2{
    color: rgb(3, 92, 47);
}

h3{
    margin-top: 15px;
}

/* Styling labels and p */
label, p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(23, 112, 49);
}


/* Styling the input  */
input{
    width: 40%;
}

input[type="text"], input[type="email"] {
    Padding: 2px 2px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(4, 104, 25);
}

input[type="radio"]
{
    width: 20px;   
}

input[type="checkbox"]
{
    width: 20px;   
}

/* input[type=radio] + label {
    color: green;
} */

textarea{
    border: 2px solid rgb(3, 90, 39);
    /* width:100%; */
    min-height: 30px;
    min-width: 350px;
    padding: 12px;
    font-family: inherit;
}

input[type=submit]{
    background-color: rgb(6, 73, 3);
    color: white;
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:10%;
    cursor: pointer;
}

